body{
  background-color:#F3E5B7;
}
  #containment-wrapper {
      position: absolute;
      transform: scale(.80);
      width: 1000px;
      height:795px;
      top: 50%;
      left: 50%;
      margin-top: -397.5px; /* Half the height */
      margin-left: -500px;
      background-image: url('../assets/adventureBoard/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  #containment-wrapper div{
      position: absolute;
  }

  /*positions*/
  #sunshineRock {
    position: absolute;
    top:458px; 
    left:130px;
    width:184px;
  }

  #bodyMind{
    position: absolute;
    top:385px; 
    left:595px;
    width:179px;
  }

  #riceIsNice {
    position: absolute;
    top:488px; 
    left:500px;
    width:100px;
  }

  #djSpinoff{
    position: absolute;
    top:236px; 
    left:758px;
    width:70px;
  }

  #quaranzine{
    position: absolute;
    top:325px; 
    left:285px;
    width:100px;
  }
  #libraryTrickster{
    position: absolute;
    top:385px; 
    left:130px;
    width:100px;
  }
  #timeTravel{
    position: absolute;
    top:236px; 
    left:418px;
    width:118px;
  }

