
  #containment-wrapper {
      position: absolute;
      transform: scale(.90);
      width: 1000px;
      height:795px;
      top: 50%;
      left: 50%;
      margin-top: -397.5px; /* Half the height */
      margin-left: -500px;
      background-image: url('../assets/adventureBoard/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  #containment-wrapper div{
      position: absolute;
  }

  /*positions*/
  #riceIsNice {
    position: relative;
    top:408px; 
    left:130px;
    width:184px;
    }

  #djSpinoff{
    position: relative;
    top:236px; 
    left:228px;
    width:118px;
  }

  #quaranzine{
    position: relative;
    top:325px; 
    left:285px;
    width:179px;
  }

