body{
  background-color:#F3E5B7;
}
  #containment-wrapper {
      background-image: url('../assets/adventureBoard/background.jpg');
  }
  /*positions*/
  #djSpinoff {
    position: absolute;
    top:458px; 
    left:130px;
    width:184px;
  }

  #bodyMind{
    position: absolute;
    top:385px; 
    left:595px;
    width:179px;
  }

  #riceIsNice {
    position: absolute;
    top:488px; 
    left:500px;
    width:100px;
  }

  #sunshineRock{
    position: absolute;
    top:236px; 
    left:748px;
    width:100px;
  }

  #quaranzine{
    position: absolute;
    top:325px; 
    left:285px;
    width:100px;
  }
  #libraryTrickster{
    position: absolute;
    top:385px; 
    left:130px;
    width:100px;
  }
  #timeTravel{
    position: absolute;
    top:236px; 
    left:418px;
    width:118px;
  }

