body{
  background-color:#BECCCD;
}
#containment-wrapper {
    position: absolute;
    transform: scale(.80);
    width: 1000px;
    height:795px;
    top: 50%;
    left: 50%;
    margin-top: -397.5px; /* Half the height */
    margin-left: -500px;
    width: 1000px;
    height:795px;
    background-image: url('../assets/bodyMind/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#containment-wrapper div{
    position: absolute;
}

#here{
    width:70px;
    height:30px;
    position:absolute;
    top:166px;
    left:268px;
}

.submission{
  position: absolute;
  width:6%;
}

/*positions*/
#space{
    position:relative;
    top:176px;
    left:314px;
    opacity:0;
}
#space:hover{
    opacity:1;
}
/*submissions*/
#one{
  position:absolute;
  top:40px;
  left:818px;
}

#two{
  position:absolute;
  top:380px;
  left:251px;
}

#three{
  position:absolute;
  top:661px;
  left:451px;
}
#four{
  position:absolute;
  top:396px;
  left:774px;
}

#five{
  position:absolute;
  top:654px;
  left:760px;
}

#six{
  position:absolute;
  top:501px;
  left:447px;
}
#seven{
  position:absolute;
  top:620px;
  left:640px;
}
#eight{
  position:absolute;
  top:700px;
  left:200px;
}
#nine{
  position:absolute;
  top:200px;
  left:700px;
}
#ten{
  position:absolute;
  top:40px;
  left:450px;
}
#eleven{
  position:absolute;
  top:180px;
  left:70px;
}







