body{
  background-color:#2F2F2F;
}
#containment-wrapper {
    position: absolute;
    transform: scale(.80);
    width: 1000px;
    height:795px;
    top: 50%;
    left: 50%;
    margin-top: -397.5px; /* Half the height */
    margin-left: -500px;
    background-image: url('../assets/djSpinoff/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#containment-wrapper div{
    position: absolute;
}

#here{
    width:140px;
    height:20px;
    position:absolute;
    top:352px;
    left:348px;
/*    border:2px solid;*/
}

.submission{
  position: absolute;
  width:7%;
}

/*positions*/
#disc2{
    position:absolute;
    top:163px;
    left:359px;
    width:125px;
    opacity:0;
}
#disc2:hover{
    opacity:1;
}
#disc3{
    position:absolute;
    top:403px;
    left:155px;
    width:115px;
    opacity:0;
}
#disc3:hover{
    opacity:1;
}
#disc4{
    position:absolute;
    top:434px;
    left:344px;
    opacity:0;
}
#disc4:hover{
    opacity:1;
}
#disc5{
    position:absolute;
    top:472px;
    left:530px;
    opacity:0;
}
#disc5:hover{
    opacity:1;
}
#disc6{
    position:absolute;
    top:303px;
    left:761px;
    opacity:0;
}
#disc6:hover{
    opacity:1;
}
.disc7{
    position:absolute;
    top:163px;
    left:359px;
    opacity:1;
}
#disc7:hover{
    opacity:1;
}
.disc8{
    position:absolute;
    top:163px;
    left:359px;
    opacity:1;
}
#disc8:hover{
    opacity:1;
}

/*submissions*/
#one{
  position:absolute;
  top:500px;
  left:208px;
}

#two{
  position:absolute;
  top:320px;
  left:321px;
}

#three{
  position:absolute;
  top:451px;
  left:551px;
}
#four{
  position:absolute;
  top:406px;
  left:634px;
}

#five{
  position:absolute;
  top:534px;
  left:860px;
}

#six{
  position:absolute;
  top:251px;
  left:907px;
}
#seven{
  position:absolute;
  top:300px;
  left:540px;
}
#eight{
  position:absolute;
  top:400px;
  left:700px;
}
#nine{
  position:absolute;
  top:500px;
  left:700px;
}
#ten{
  position:absolute;
  top:200px;
  left:300px;
}
#eleven{
  position:absolute;
  top:100px;
  left:100px;
}



