body{
  background-color:#C19F9A;
}
#containment-wrapper {
    background-image: url('../assets/libraryTrickster/background.jpg');
}
#here{
    width:70px;
    height:20px;
/*    border:2px solid #ccc;*/
    position:absolute;
    top:599px;
    left:129px;
}

.submission{
    position: absolute;
    width:7%;
}

/*positions*/
#binoc{
    position:absolute;
    top:617px;
    left:197px;
    width:104px;
    opacity:0;
}
#binoc:hover{
    opacity:1;
}
#book1{
    position:absolute;
    top:66px;
    left:247px;
    width:115px;
    opacity:0;
}
#book1:hover{
    opacity:1;
}
#book2{
    position:absolute;
    top:317px;
    left:638px;
    width:111.4px;
    opacity:0;
}
#book2:hover{
    opacity:1;
}
#book3{
    position:absolute;
    top:176px;
    left:709px;
    width:110px;
    opacity:0;
}
#book3:hover{
    opacity:1;
}
#bottle{
    position:absolute;
    top:408px;
    left:379px;
    width:113px;
    opacity:0;
}
#bottle:hover{
    opacity:1;
}
#drawer{
    position:absolute;
    top:630px;
    left:1px;
    width:125.7px;
    opacity:0;
}
#drawer:hover{
    opacity:1;
}
#rocker{
    position:absolute;
    top:471.5px;
    left:627px;
    width:270px;
    opacity:0;
}
#rocker:hover{
    opacity:1;
}
#tea{
    position:absolute;
    top:556px;
    left:517px;
    width:105.7px;
    opacity:0;
}
#tea:hover{
    opacity:1;
}
/*submissions*/
#one{
  position:absolute;
  top:308px;
  left:446px;
}

#two{
  position:absolute;
  top:228px;
  left:569px;
}

#three{
  position:absolute;
  top:143px;
  left:530px;
}
#four{
  position:absolute;
  top:114px;
  left:450px;
}

#five{
  position:absolute;
  top:370px;
  left:450px;
  width:50px;
}

#six{
  position:absolute;
  top:302px;
  left:579px;
  width:50px;
}
#seven{
  position:absolute;
  top:226px;
  left:455px;
}

#eight{
  position:absolute;
  top:380px;
  left:550px;
  width:50px;
}
#nine{
  position:absolute;
  top:500px;
  left:700px;
}
#ten{
  position:absolute;
  top:200px;
  left:300px;
}
#eleven{
  position:absolute;
  top:100px;
  left:100px;
}