  body {
    /*transform: scale(.67);
    transform-origin: 0 0;*/
    max-width: 1000px;
    margin: 0 auto;
  }
  .draggable{
      cursor:move;
  }

  .avatar{
    width: 80px;
  }

  .enterable:hover{
  }

  .item{
    width:15%;
  }

  .inventory{
    display:none;
    border:2px dashed #ccc;
    width:400px;
    height:400px;
  }

  #containment-wrapper {
      width: 1000px;
      height:795px;
 /*     border:2px solid #ccc;*/
/*      padding: 10px;*/
      background-image: url('../assets/adventureBoard/background.png');
      background-repeat: no-repeat;
      background-size: cover;
  }

  #containment-wrapper div{
      position: absolute;
  }

  /*positions*/

  #riceIsNice {
    position: relative;
    top:408px; 
    left:130px;
    width:184px;
  }

  #timeTravel{
    position: relative;
    top:236px; 
    left:228px;
    width:118px;
  }

  #libraryTrickster{
    position: relative;
    top:325px; 
    left:285px;
    width:179px;
  }
