 body {
    /*transform: scale(.67);
    transform-origin: 0 0;*/
    max-width: 1000px;
    margin: auto;
 }

.draggable{
      cursor:move;
      position: absolute;
}


.room{
/*	position:absolute;
	left:0px;*/
	width:100%;
}


.avatar{
	/*position:absolute;*/
	top: 50%;
	left: 50%;
	width: 10%;
}


#containment-wrapper {
	      width: 1000px;
	      height: 1000px;
/*	      border:2px solid #ccc;
	      padding: 10px;*/
}