body{
  background-color:#E62336;
}
#containment-wrapper {
    position: absolute;
    transform: scale(.80);
    width: 1000px;
    height:674px;
    top: 50%;
    left: 50%;
    margin-top: -337px; /* Half the height */
    margin-left: -500px;
    background-image: url('../assets/timeTravel/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#containment-wrapper div{
    position: absolute;
}

#here{
    width:70px;
    height:20px;
    position:absolute;
    top:112px;
    left:188px;
}

.submission{
  position: absolute;
  width:6%;
}

/*positions*/
#future{
    position:relative;
    top:136px;
    left:806px;
    width:189px;
    opacity:0;
}
#future:hover{
    opacity:1;
}
#past{
  position:relative;
  top:204px;
  left:-77px;
  width:180px;
  opacity:0;

}
#past:hover{
  opacity:1;
}
#present{
    position:relative;
    top:-45px;
    left:72px;
    width:256px;
    opacity:0;

}
#present:hover{
  opacity:1;
}
#zoom{
  position:relative;
  top:37.7px;
  left:250px;
  width:633px;
  opacity:0;

}
#zoom:hover{
  opacity:1;
}

/*submissions*/
#one{
  position:absolute;
  top:471px;
  left:618px;
}

#two{
  position:absolute;
  top:380px;
  left:451px;
}

#three{
  position:absolute;
  top:601px;
  left:451px;
}
#four{
  position:absolute;
  top:366px;
  left:634px;
}

#five{
  position:absolute;
  top:634px;
  left:760px;
}

#six{
  position:absolute;
  top:501px;
  left:447px;
}
#seven{
  position:absolute;
  top:590px;
  left:640px;
}
#eight{
  position:absolute;
  top:500px;
  left:700px;
}
#nine{
  position:absolute;
  top:500px;
  left:700px;
}
#ten{
  position:absolute;
  top:200px;
  left:700px;
}
#eleven{
  position:absolute;
  top:180px;
  left:70px;
}
#twelve{
  position:absolute;
  top:150px;
  left:300px;
}
#thirteen{
  position:absolute;
  top:400px;
  left:500px;
}
#fourteen{
  position:absolute;
  top:300px;
  left:800px;
}
#fifteen{
  position:absolute;
  top:400px;
  left:100px;
}
#sixteen{
  position:absolute;
  top:600px;
  left:200px;
}







