  body {
    max-width: 1000px;
    margin: 0 auto;
  }

  #containment-wrapper {
      width: 1000px;
      height:674px;
      background-image: url('../assets/timeTravel/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  #containment-wrapper div{
      position: absolute;
  }

  /*positions*/
